@code {
    [Parameter] public Game State { get; set; }
}

<ResponsivePanes>
    <MainContent>
        @if (!State.Alive)
        {
            <Column Gutter="2em">
                <div class="life">You are a unborn soul, without direction or purpose.</div>
                <ActButton FontSize="2" OnClick="State.DoLive">LIVE</ActButton>
            </Column>
        }
        else
        {
            <Column Gutter="2em">
                <div class="life">@(State.LifeText)</div>
                <Row Gutter="15">
                    @foreach(var act in State.LifeActions)
                    {
                        <ActButton FontSize="1.5" OnClick="act.Do">@act.Name</ActButton>    
                    }
                </Row>
                <progress style="width: 100%" max="@State.LifeSpan.TotalSeconds" value="@(State.LifeLeft.TotalSeconds)"></progress>
            </Column>
        }
    </MainContent>

    <FirstPane>
        @if (State.Eggs > 0)
        {
            <span class="stat">Eggs: @(State.Eggs)</span>
        }
    </FirstPane>

    <SecondPane>
        <Row Gutter="15">
            @if (State.Karma > 0)
            {
                <span class="stat">Karma: @(State.Karma)</span>
            }

            @if (State.Rebirths > 0)
            {
                <span class="stat">Rebirths: @(State.Rebirths)</span>
            }
        </Row>
    </SecondPane>
</ResponsivePanes>